body{
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(cloud.jpg);
    background-size: cover;
} 

.converter{
    height: 500px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgba(254, 254, 254, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(39, 30, 30);
}

select,input{
    width: 100%;
    padding: 10px;
    margin: 11px 0;
    border: 3px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#temperature{
    display: flex;
    width: 375px;
}

button{
    background-color: 
    #e3aeac;
    color: rgb(12, 12, 12);
    padding: 13px ;
    margin-bottom: 20px;
    align-items: center;
    border: none;
    width: 100px;
    display: flex;
    margin-left: 144px;
    cursor: pointer;
    border-radius: 30px;
    font-family: "Poppins";
    justify-content: space-around;
}

button:hover{
    background-color: #79595e;
    color: aliceblue;
}

#result {
    display: flex;
    width: 375px;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #918484;
    border-radius: 5px;
    outline: none;
    font-weight: bold;
    color: #1f1d1d;
}